apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: frontend-pdb
  labels:
    app.kubernetes.io/name: frontend
    app.kubernetes.io/component: web
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: frontend
