apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: redis-pdb
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/component: cache
spec:
  maxUnavailable: 0
  selector:
    matchLabels:
      app.kubernetes.io/name: redis
