apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ingress.yaml
  - dashboard-configmap.yaml

labels:
  - pairs:
      app.kubernetes.io/part-of: hospital-erp-system
      app.kubernetes.io/managed-by: kustomize
