# Dependencies
node_modules
.npm-cache

# Build
dist
*.tsbuildinfo

# IDE
.idea
.vscode
*.swp
*.swo

# Tests
coverage
.nyc_output

# Logs
*.log
logs

# Environment
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# Development files
.eslintcache
.prettierignore
.editorconfig
