apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: hospital-erp-prod

resources:
  - ../../base

namePrefix: prod-

labels:
  - pairs:
      environment: production
    includeSelectors: true
    includeTemplates: true

replicas:
  - name: backend
    count: 3
  - name: frontend
    count: 3

images:
  - name: hospital-erp/backend
    newTag: stable
  - name: hospital-erp/frontend
    newTag: stable
