apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: hospital-erp-system

resources:
  - namespace.yaml
  - backend/deployment.yaml
  - backend/service.yaml
  - frontend/deployment.yaml
  - frontend/service.yaml
  - ingress/cluster-issuer.yaml
  - ingress/ingress.yaml

labels:
  - pairs:
      app.kubernetes.io/part-of: hospital-erp-system
      app.kubernetes.io/managed-by: kustomize
    includeSelectors: true
    includeTemplates: true

images:
  - name: hospital-erp/backend
    newTag: latest
  - name: hospital-erp/frontend
    newTag: latest
