apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-secrets-sa
  labels:
    app.kubernetes.io/name: external-secrets
    app.kubernetes.io/component: service-account
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::ACCOUNT_ID:role/hospital-erp-external-secrets
