apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: hospital-erp-staging

resources:
  - ../../base

namePrefix: staging-

labels:
  - pairs:
      environment: staging
    includeSelectors: true
    includeTemplates: true

replicas:
  - name: backend
    count: 2
  - name: frontend
    count: 2

images:
  - name: hospital-erp/backend
    newTag: staging
  - name: hospital-erp/frontend
    newTag: staging
